
# Android Studio will place build artifacts here
# Flutter/Dart/Pub related
# IntelliJ related
# Miscellaneous
# Obfuscation related
# Symbolication related
# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/
**/doc/api/
**/ios/Flutter/.last_build_id
*.class
*.iml
*.ipr
*.iws
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.history
.idea/
.packages
.pub-cache/
.pub/
.svn/
.swiftpm/
/android/app/debug
/android/app/google-services.json
/android/app/profile
/android/app/release
/android/build/
/build/
/ios/Runner/GoogleService-Info.plist
/ios/build/
/ios_old/Runner/GoogleService-Info.plist
/lib/firebase_options.dart
/lib/services/password_generator.dart
app.*.map.json
app.*.symbols
build/web/
migrate_working_dir/
