<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822677258148-14j81fcqsi94buad8r5sm7d336q0jhii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822677258148-14j81fcqsi94buad8r5sm7d336q0jhii</string>
	<key>API_KEY</key>
	<string>AIzaSyAxBXqxZjfgok2dyJtAXf6Q-MntNBmvShw</string>
	<key>GCM_SENDER_ID</key>
	<string>822677258148</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kreiseck.ciphereye</string>
	<key>PROJECT_ID</key>
	<string>cipher-eye</string>
	<key>STORAGE_BUCKET</key>
	<string>cipher-eye.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822677258148:ios:550214d9b31d002e018b31</string>
</dict>
</plist>